<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:href="@{/plugins/js/jquery.js}"></script>
<script th:href="@{/plugins/js/jquery.validate.js}"></script>
<script th:href="@{/plugins/js/popper.js}"></script>
<script th:href="@{/plugins/js/bootstrap.js}"></script>
<script th:href="@{/plugins/js/holder.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script th:href="@{/plugins/js/ckeditor.js}"></script>
<script th:href="@{/plugins/slick/slick.js}"></script>
