<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css_import.css}">
</head>
<body>
    hello
    <script th:href="@{js_import.js}"></script>
</body>
</html>
