
header {
	height: 51px;
}

hr {
	width: 100%;
	border-color: #1CA3D5;
	border-width: 1px;
}

.navbar-bg {
	background-color: #1CA3D5;
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
}
/* .navbar{
	list-style-type: none;
	background-color: #1CA3D5;
	color: white;
	padding: 0;
	height: 30px;
}
.navbar li{
	display: inline;
}
.navbar li a{
	text-decoration: none;
	color: white;
}
.navbar li a:active{
	background-color: black;
} */
.blue_sky {
	background-color: #EDFBFC;
}

.blue_sky_title {
	background-color: #C5E6E7;
	color: #33C1FF;
}

.hint_text {
	color: #B2BABB;
}

ul {
	list-style-type: none;
}

.container-fluid {
	margin-bottom: 100px;
}

tr:nth-child(even) {
	background-color: #e6ffff;
}

tr:nth-child(odd) {
	background-color: #f0f0f5;
}

.find {
	width: 25px;
	height: 25px;
	background-color: black;
}

.pagination a {
	text-decoration: underline;
	width: 20px;
}

.pagination {
	float: right;
	margin-right: 30px;
}

.error {
	display: none;
	margin-top: 5px;
}

.error-show {
	color: red;
	margin-top: 5px;
}

.disappear {
	display: none;
}

.appear {
	display: block;
}